# Part III: Explore

![alt text](data/inu_neko_logo_small.png "Inu + Neko")

Hello! We are Inu + Neku and we are a Dog & Cat services and supplies store located in New York City. We just started our e-commerce business and need your help analyzing our data!

## Description

We need to make sure the data is clean before starting your analysis. As a reminder, we should check for:

- Duplicate records
- Consistent formatting
- Missing values
- Obviously wrong values

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
df_cleaned = pd.read_csv('data/inu_neko_orderline_clean.csv')
df_cleaned

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
0,10300097,719638485153,1001019,35:21.4,2021,1,1,1,1,20,New York,72.99,Cat Cave,bedding,cat,72.99
1,10300093,73201504044,1001015,33:37.5,2021,1,1,1,1,34,New York,18.95,Purrfect Puree,treat,cat,18.95
2,10300093,719638485153,1001015,33:37.5,2021,1,1,1,1,34,New York,72.99,Cat Cave,bedding,cat,72.99
3,10300093,441530839394,1001015,33:37.5,2021,1,1,1,2,34,New York,28.45,Ball and String,toy,cat,56.90
4,10300093,733426809698,1001015,33:37.5,2021,1,1,1,1,34,New York,18.95,Yum Fish-Dish,food,cat,18.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38218,10327860,287663658863,1022098,37:12.8,2021,6,30,30,1,25,New York,9.95,All Veggie Yummies,treat,dog,9.95
38219,10327960,140160459467,1022157,45:09.9,2021,6,30,30,2,31,Pennsylvania,48.95,Snoozer Essentails,bedding,dog,97.90
38220,10328009,425361189561,1022189,57:44.3,2021,6,30,30,2,53,New Jersey,15.99,Snack-em Fish,treat,cat,31.98
38221,10328089,733426809698,1022236,59:29.8,2021,6,30,30,1,23,Tennessee,18.95,Yum Fish-Dish,food,cat,18.95
38222,10328109,717036112695,1011924,30:52.2,2021,6,30,30,1,24,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99

In [34]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38223 entries, 0 to 38222
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trans_id          38223 non-null  int64
 1   prod_upc          38223 non-null  int64
 2   cust_id           38223 non-null  int64
 3   trans_timestamp   38223 non-null  object
 4   trans_year        38223 non-null  int64
 5   trans_month       38223 non-null  int64
 6   trans_day         38223 non-null  int64
 7   trans_hour        38223 non-null  int64
 8   trans_quantity    38223 non-null  int64
 9   cust_age          38223 non-null  int64
 10  cust_state        38223 non-null  object
 11  prod_price        38223 non-null  float64
 12  prod_title        38223 non-null  object
 13  prod_category     38223 non-null  object
 14  prod_animal_type  38223 non-null  object
 15  total_sales       38223 non-null  float64
dtypes: float64(2), int64(9), object(5)
memory usage: 4.7+ MB

#### Question 2: Alpha and Omega I
What was the month and day of the first sale? Store as a tuple in that order and assign the tuple to the variable `first_date`.

In [35]:
# 1. Make a new dataframe comprised of variables of interest: 'trans_month', 'trans_day'

df_sorted_ascending = df_cleaned[['trans_month', 'trans_day']]
print(df_sorted_ascending) # Print to verify

       trans_month  trans_day
0                1          1
1                1          1
2                1          1
3                1          1
4                1          1
...            ...        ...
38218            6         30
38219            6         30
38220            6         30
38221            6         30
38222            6         30

[38223 rows x 2 columns]

In [36]:
# 2. Sort the new dataframe first on 'trans_month' and then on 'trans_day'.
# just like we do in spreadsheet, when we add levels

df_sorted_ascending = df_cleaned[['trans_month', 'trans_day']].sort_values(by = ['trans_month','trans_day'] )
print(df_sorted_ascending) # Print to verify

       trans_month  trans_day
0                1          1
1                1          1
2                1          1
3                1          1
4                1          1
...            ...        ...
38218            6         30
38219            6         30
38220            6         30
38221            6         30
38222            6         30

[38223 rows x 2 columns]

In [37]:
# locate the row with least 'trans_month' and 'trans_day' values
# That means locate the value at index position 0.
first_date = df_sorted_ascending[['trans_month','trans_day']].iloc[0]
print(first_date)
type(first_date)

trans_month    1
trans_day      1
Name: 0, dtype: int64

pandas.core.series.Series

In [42]:
# convert the first_date to a tuple.
first_date = (tuple(first_date))

first_date

(1, 1)

# Do the same for Q3 to locate the last value

In [39]:
# Q3 - LATEST ORDER
df_sorted_ascending = df_cleaned.sort_values(by = ['trans_month','trans_day'] )
last_date = tuple(df_sorted_ascending[['trans_month','trans_day']].iloc[-1])
print(last_date)

print(type(last_date))

(6, 30)
<class 'tuple'>

In [40]:
# Q2 Test Cases
assert len(first_date) == 2
assert str(first_date[0]).isnumeric() 
assert str(first_date[1]).isnumeric()